<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="sgxFrontProject/stylesheets/index.css">
</head>
<body>
	<header>
		<div class="header">
			<div class="head-topic">
				<span class="topic-name">SGX DATAQUERY</span>
			</div>
		</div>
	</header>
	<div class="containner">
		<div class="div-input">
			<input type="text" name="input-sql" id="input-sql">
			<div class="icon-search">
				search
			</div>
		</div>
	</div>
	<div class="footer">
		<!-- <div>Topic：</div> -->
		<!-- <div>Tansformation：</div> -->
		<div class="div-msg">
			<div class="div-div-msg">
				Message：
			</div>
			<div>
				<span class="span-message"></span>
			</div>
		</div>
	</div>
</body>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/index.js"></script>
</html>